﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel "Koci Raj"</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hotel \"Koci Raj\"", "Index", "Home", new { area = "" }, new { @class = "logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Oferta", "Oferta", "Home")</li>
                    <li>@Html.ActionLink("Rezerwacja", "Rezerwacja", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
            @RenderBody()
            <hr />
<footer>
    <div class="myfooter">
        <div class="div_wiersz">
            <div class="div_kolumna1"><strong>Hotel "Koci Raj"</strong><br />ul. Koci Szlak 7<br />91-001 Łódź<br />Numer konta 20 1111 2222 3333 0000 4444 6666<br />Bank Polski Kocia Łapka
            </div>
            <div class="div_kolumna2"><strong>Kontakt:</strong><br />w godzinach 8.00 - 22.00<br /><abbr title="Telefon">tel.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 123-456-789<br /><abbr title="Telefon">
                tel.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 987-654-321<br /><abbr title="Fax">fax.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 42 12-12-123<br /><img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> biuro@koci-raj.pl
            </div>
            <div class="div_kolumna3"><strong>Opiekunowie:</strong><br /><img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> katarzyna.g@koci-raj.pl<br /><img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> artur.t@koci-raj.pl<br /><img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> dawid.d@koci-raj.pl<br /><img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> mateusz.c@koci-raj.pl<br /><img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> mikolaj.ch@koci-raj.pl
            </div>
        </div>
        <div class="div_wiersz">
            <div class="div_kolumna4">&copy; @DateTime.Now.Year - Hotel "Koci Raj"</div>
        </div>
    </div>
</footer>
    </div>

</body>
</html>
