﻿body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* START koci slider jQuery */
ul.bjqs {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
}

li.bjqs-slide {
    position: absolute;
    display: none;
}

ul.bjqs-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

    ul.bjqs-controls.v-centered li a {
        position: absolute;
    }

    ul.bjqs-controls.v-centered li.bjqs-next a {
        right: 0;
        height: 45px;
        overflow: hidden;
        position: absolute;
        text-indent: -9999em;
        top: 50%;
        width: 45px;
        z-index: 10;
        opacity: 0.5;
        background: url("../Content/next.png") no-repeat scroll left top #000;
    }

    ul.bjqs-controls.v-centered li.bjqs-next a:hover {
        right: 0;
        height: 45px;
        overflow: hidden;
        position: absolute;
        text-indent: -9999em;
        top: 50%;
        width: 45px;
        z-index: 10;
        opacity: 0.5;
        background: url("../Content/next_hover.png") no-repeat scroll left top #000;
    }

    ul.bjqs-controls.v-centered li.bjqs-prev a {
        left: 0;
        height: 45px;
        overflow: hidden;
        position: absolute;
        text-indent: -9999em;
        top: 50%;
        width: 45px;
        z-index: 10;
        opacity: 0.5;
        background: url("../Content/prev.png") no-repeat scroll left top #000;
}

    ul.bjqs-controls.v-centered li.bjqs-prev a:hover {
        right: 0;
        height: 45px;
/*      margin-top: -25px;*/
        overflow: hidden;
        position: absolute;
        text-indent: -9999em;
        top: 50%;
        width: 45px;
        z-index: 10;
        opacity: 0.5;
        background: url("../Content/prev_hover.png") no-repeat scroll left top #000;
    }

ol.bjqs-markers {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

    ol.bjqs-markers.h-centered {
        text-align: center;
    }

    ol.bjqs-markers li {
        display: inline;
    }

        ol.bjqs-markers li a {
            display: inline-block;
        }

p.bjqs-caption {
    display: block;
    width: 96%;
    margin: 0;
    padding: 2%;
    position: absolute;
    bottom: 0;
}

ul.bjqs-controls.v-centered li a {
    display: block;
    padding: 10px;
    background: #fff;
    color: #000;
    text-decoration: none;
}

    ul.bjqs-controls.v-centered li a:hover {
        background: #000;
        color: #fff;
    }

ol.bjqs-markers li a {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    margin: 5px;
    text-decoration: none;
}

    ol.bjqs-markers li.active-marker a,
    ol.bjqs-markers li a:hover {
        background: #999;
    }
/* KONIEC koci slider jQuery */

/* START Stopka */
div.myfooter {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.div_wiersz {
    width: inherit;
    padding: 0;
    text-align: left;
    color: #999999;
}

div.div_kolumna1 {
    display: inline-block;
    width: 38%;
    vertical-align: top;
}

div.div_kolumna2 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

div.div_kolumna3 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

div.div_kolumna4 {
    display: inline-block;
    width: 100%;
    padding-top:20px;
    text-align:center;
}
/* KONIEC Stopka */

/* START Kontakt */
div.div_wiersz_kontakt {
    width: inherit;
    padding: 0;
    text-align: left;
}

div.div_kolumna1_kontakt {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

div.div_kolumna2_kontakt {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
/* KONIEC Kontakt */

/* START Kontakt MAPA */
#map {
    display: block;
    width: 95%;
    height: 350px;
    margin: 0 auto;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
}
#map.large {
    height: 500px;
}
/* KONIEC Kontakt MAPA */