﻿    @{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<p></p>
<p></p>


<address>
    <h3 style="margin-bottom:-15px">Hotel "Koci Raj"</h3><br />
    ul. Koci Szlak 7<br />
    91-001 Łódź<br />
    Numer konta 20 1111 2222 3333 0000 4444 6666<br />
    Bank Polski Kocia Łapka
</address>


<div class="div_wiersz_kontakt">
    <div class="div_kolumna1_kontakt">
        <address>
        Zapraszamy do kontaktu telefonicznego w godzinach 8.00 - 22.00.<br />
        <abbr title="Telefon">tel.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 123-456-789<br />
        <abbr title="Telefon">tel.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 987-654-321<br />
        <abbr title="Fax">fax.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 42 12-12-123<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> <a href="mailto:biuro@koci-raj.pl">biuro@koci-raj.pl</a>
        </address>
    </div>
    <div class="div_kolumna2_kontakt">
        <address>
        Bezpośredni kontakt z opiekunami: <br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> katarzyna.g@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> artur.t@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> dawid.d@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> mateusz.c@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> mikolaj.ch@koci-raj.pl
        </address>
    </div>
</div>


@section scripts {
    @Scripts.Render("http://maps.google.com/maps/api/js?sensor=true")
    @Scripts.Render("http://maps.google.com/maps/api/js?key=AIzaSyDD5Sc2-4SpogTRe3qogzpsTQiRtUf0cGM")
    @Scripts.Render("~/Scripts/gmaps.js")
    @Scripts.Render("~/Scripts/gmaps-marker.js")
}
<h4><strong>Znajdź nas:</strong></h4>
<div id="map"></div>
